node_modules
**/node_modules
client/dist
server/database/*.db
server/database/*.db-shm
server/database/*.db-wal
server/whatsapp-auth
.git
.gitignore
.env
**/.env
.env.example
.vscode
.idea
*.md
Dockerfile
.dockerignore
docker-compose.yml
